{% extends "main.html" %}
{% block content %}


<div class="category header">
	<h1>{{ category.name }}</h1>
</div>

<div class="btn new-item">
	<a href="{{url_for('newItem',
	category_id=category.id)}}">Create New Item</a>
</div>

<div class="row">
	<h3>Items</h3>
		{% for i in item %}
			<div class="item">
				<h3>{{ item.item_name }}</h3>
				<a href="{{url_for('editItem', item_id = item.id,
				category_id = category.id)}}">Edit</a>
				<a href="{{url_for('deleteItem', item_id = item.id,
				category_id = category.id)}}">Delete</a>
			</div>
		{% endfor %}
</div>
{% endblock %}
