{% extends "main.html" %}
{% block content %}

<div class="top-margin"></div>
<div class="page-heading">
	<h1>New Item</h1>
</div>

<div class="row-new-item">
	<form action="{{ url_for('newItem', category_id=category_id) }}" method='post'>
		<input type="hidden">
		<div class="form">
			<dl>
				<dt>Name:</dt>
					<dd><input type ='text' size='30' name='item_name'></dd>
				<dt>Description:</dt>
					<dd><textarea name="description" cols="50" rows="10"></textarea></dd>
				<dt>Date:</dt>
					<dd><input type='text' size='30' name='date'></dd>
			</dl>
			<p><button type='submit'>Create</button><p></form>
		</div>
	</form>
</div>

{% endblock %}